.Items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.Items-title {
    text-align: center;
}

.item {
    margin-top: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
}

.item img {
    height: 200px;
}


@media only screen and (max-width:576px) {
    .Items-container {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width:577px) and (max-width:992px) {
    .Items-container {
        grid-template-columns: repeat(2, 1fr);
    }

}